body {
    padding: 50px;
}

.animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-family: 'Patua One';
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
}

.no {
    border-bottom: 5px;
    text-shadow: 0px -2px;
}

.action-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}

div {
    clear: both;
    padding-top: 5px;
}